<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <li class="nav-link"><%= current_user.nickname %>のページ</li>
      <li class="header_menu_title"><%= link_to "タスク管理", root_path, class: "nav-link" %></li>
      <li>
        <ul class="header_menu_inner">
          <%# リストを作成するリンクは今後開発していくので、今は"#"にしておきます。 %>
          <li>
            <%= link_to "#", class: "nav-link" do %>
              <span class="mr-1">カラムを作成</span>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li><%= link_to "ログアウト", "#", class: "nav-link" %></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>